html,
body {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(var(--primary) 1px, transparent 1px),
    radial-gradient(var(--primary) 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  padding: 0;
  margin: 0;
  font-family: "roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  cursor: default;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin-block-start: unset;
  margin-block-end: unset;
}

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

:root {
  --bdazzled-blue: #3d5a80ff;
  --pale-cerulean: #98c1d9ff;
  --light-cyan: #e0fbfcff;
  --burnt-sienna: #ee6c4dff;
  --gunmetal: #293241ff;

  --shadow: rgb(51 51 51 / 8%) 0px 8px 16px 0px;
  --hover-shadow: rgb(51 51 51 / 16%) 0px 16px 32px 0px;
}
