
.imagen {
    width: 100%;
    display: grid;
    grid-template-rows: 600px;
    grid-template-columns: 30% 1fr;
    place-items: center;
    overflow: hidden;
    background-image: url("https://images.unsplash.com/photo-1497644083578-611b798c60f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.nombre {
    background-color: var(--bdazzled-blue);
    height: 150px;
    display: grid;
    color: white;
    text-align: center;
    place-items: center;
    font-size: 3em;
}