.main {
  width: 100%;
  padding-top: 100px;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 50% 50%;
  height: 100vh;
}

.filters {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  padding-left: 2em;
  gap: 16px;
}

.filters button {
  height: 48px;
  width: auto;
  padding: 0 16px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

.stores {
  padding: 0em 2em;
  padding-bottom: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 300);
  align-items: center;
  gap: 2em;
  overflow: scroll;
}

.store {
  width: 100%;
  height: 330px;
  display: grid;
  grid-template-rows: 258px 24px 48px;
  grid-template-columns: 50% 50%;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 8px;
  overflow: hidden;
}

.store:hover {
  box-shadow: var(--hover-shadow);
}

.store:active {
  transform: scale(0.95);
}

.store__img {
  width: 100%;
  overflow: hidden;
  grid-column: 1/3;
}

.store__filter {
  padding: 1em;
  margin-top: 1em;
  font-size: 12px;
  font-weight: 300;
  grid-column: 1;
  grid-row: 2;
}

.store__name {
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  grid-column: 1;
  grid-row: 3;
}

.store__direction {
  padding: 1em;
  font-size: 13px;
  grid-column: 2;
  grid-row: 3;
}

.store__superUsual {
  position: absolute;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  bottom: 275px;
  right: 10px;
}

.space {
  height: 20px;
  width: 100%;
}
